*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
body{
    border: 3px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
}
.sidebar{
    background-color: black;
    grid-column: 1/2;
    grid-row: 1/3;
    height: 615px;
    width: 200px;
}
.up{
    background-color:rgba(8, 11, 18, 0.7);
    grid-column: 2/3;
    grid-row: 1/2;
    height: 90px;
    width:1285px ;
    border: 1px solid red;
    display: flex; 
    justify-content:flex-end;
    padding-top: 20px;
}
.up a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    height: 40px;
    width: 250px;
    border: 1px solid white;
    padding: 10px 35px;
    border-radius: 40px;
    align-items: center;   
}
.menu{
    background-color:#151922 ;
    grid-column: 2/3;
    grid-row: 1/3;
}
.down{
    background-color: #282829;
    grid-column: 1/3;
    grid-row: 3/4;
    height: 90px;
}
.box{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.nav ul{ 
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 20px;

}
.nav ul li  a {
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.5; 
    color: white; 
}
.nav ul li  a:hover {
    opacity: 1;
}
h2{
    padding-inline: 20px;
}